@{
    ViewData["Title"] = "About";
}      
  
<div class="title">
            <h1>Соломійчук Олександр Ігорович</h1>
        </div>
        <hr>
        <div class="biography">
            <p>Я, Соломійчук Олександр Ігорович, народився 9 серпня 2003 року в селі Рожнів, у сім'ї вчителів.
                Батько, Соломійчук Ігор Васильович, працює вчителем інформатики, мати, Соломійчук Оксана Олександрівна,
                працює вчителем української мови та літератури.
            </p>
            <p>
                У 2020 році закінчив Рожнівський ліцей. Навчаючись у школі, брав участь в олімпіадах з інформатики.
                Відвідував спортивну секцію по футболу. Брав участь в змаганнях по футболу від школи. 
            </p>
            <p>
                У 2020 році почав навчатися в Чернівецькому Національному університеті на спеціальності "Прикладна математика".
            </p>
        </div>
        <hr>
        <div>
            <ul type="circle">
                <li>БД з таблицею - сховище для даних моделі (мінімум 5 записів), створену засобами SQL Server Management Studio.</li>
                <li>Модель даних</li>
                <li>Головний контроллер (HomeController).</li>
                <li>Сторінку-список переліку даних відповідних до завдання лабораторної (Index представлення).</li>
                <li>Сторінку з привітанням, та умовою лабораторного завдання і інформацією про автора (About представлення).</li>
                <li>Розробити функціонал деяких маніпуляцій з даними та детального перегляду даних моделі (Details представлення). </li>
                <li>Використати технологію Entity Framework для роботи з базою даних.</li>
            </ul>
        </div>
        <hr>